<div class="card p-5">
  <h1 class="card-title">Connexion</h1>
  <form [formGroup]="userForm" (ngSubmit)="login()" class="container mt-4">
    <div class="mb-3">
      <label for="username" class="form-label">Nom d'utilisateur:</label>
      <input id="username" formControlName="username" class="form-control" />
    </div>
    <div class="mb-3">
      <label for="password" class="form-label">Mot de passe:</label>
      <input id="password" type="password" formControlName="password" class="form-control" />
    </div>
    <button type="submit" class="btn btn-primary">Se connecter</button>
    <div *ngIf="loginError" class="alert alert-danger mt-3">{{ loginError }}</div>
  </form>
</div>